<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meu-painel currentNavItem="teste">

    </meu-painel>
    <style>
        body {
            background-color: #D8BFD8;
            width: 500px;
            margin: 20px auto;
            padding: 50px;
            border: solid blue 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        
        p1 {}
    </style>
</head>

<body>

    <p1>Prezado cliente... Preços e condições de pagamento exclusivos para compras realizadas através do site e televendas. Os
        estoques são limitados e os valores não se aplicam a nossa rede de lojas físicas podendo sofrer alterações sem aviso
        prévio. Em caso de divergência nos contate.</p1>
</body>

</html>