
<div class="jumbotron">
    
    <style>
        .jumbotron {
            
            background-color: #D8BFD8
        }
    </style>

    <head>

    </head>
    <section>

        <ul ng-controller="menuController" class="nav nav-pills">
            <li role="presentation" class="active"><a href="#/home">Home</a></li>
            <li role="presentation" class="active"><a href="#/produtos">Produtos</a></li>
            <li role="presentation" class="active"><a href="#/categorias">Categorias</a></li>
            <li role="presentation" class="active"><a href="#/sobre">Sobre</a></li>
        </ul>




    </section>
</div>